<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformeServlet</servlet-name>
        <servlet-class>controlador.InformeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaServlet</servlet-name>
        <servlet-class>controlador.PersonaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeServlet</servlet-name>
        <url-pattern>/InformeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaServlet</servlet-name>
        <url-pattern>/PersonaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
